# Python virtual environment (The heavy 16,000 files)
.venv/
venv/
env/
__pycache__/
*.pyc

# Chroma Database 
university_db/
chroma_data/

# System files
.DS_Store
Thumbs.db

# Large PDF folder (Optional: If you want to keep your PDFs local only)
# PDF faqs/

.env

# Ignore the Chroma database folder
University_Knowledge_Base/

# Ignore SQLite temporary files (important for Chroma)
*.sqlite3-shm
*.sqlite3-wal

#unit testing
test_fuzzymatch.py
test_RAG.py
test_vectorstore.py




